{% extends "base.html" %}

{% block the_content %}
		
<a href = "/" > Home </a>
<p>			
<a href = "/personalpage" > personal page</a>
<p>		
<a href = "/cv" > Cv </a>
<p>		
<a href = "/interest" > Interest</a>
<p>

	<div>I,ve always had interests in Technology, on how the were made(in the aspect of hardware),</div>
	<div> computers have involved so much in the last decade and it has helped the world in so many ways,</div>
	<div>and some of these reason on how are as followed:</div>
	<p>
		Websites(World Wide web) can be created from computer through coding language that can be learnt.
		<p>
		Many busness nowaday would have not been possible without the use/help of computers.
		<p>
		The length of communication in which the computer system has manufactured over the years is astonshing, making communication from long distance possible whereas anyone can either text, audio call, video call, leave a recorded message and others.
		<p>
		It also makes an impact on our daily lives whereas alarm can be set for a specific time to waken up from a nap/sleep, it can also calculate the numbers on calories we burn from running, walking and doing other exercise.
		<p>
		movies are displayed in the computer, Games are played in the computer, music are played in the computer, business meetings are held in the computer.
		<p> Technology grows everyday with more to come for the improvement for the computer system which will make work easier for everyone.</p>
		
	</p>

	My favourite aspect on technology would be:
	<div>Mobile phones-in the aspect of communication</div>
	<div>Cars-very reliable for transportation.</div>
	<div>Satellite-provider of wireless communication</div>
	<div>Planes-authorised air transportation </div>
</p>
<hr>
		Copyright (c) Terry Agabi 2021
{% endblock %}
