{% extends "base.html" %}

{% block the_content %}

<h1> <a href="/home"> Home </a></h1>
<br>
<h2> <a href="/interest"> Interest</a></h2>
<br>
<h3> <a href="/personalpage"> Personal Page</a></h3>
<br>
<h4> <a href="/computer"> Computer Techs </a></h4>
<p>
TERRY OWHOEDE AGABI
<p>Address: 98 The Laurels, Tullow Road, Co Carlow|Mobile: 0833182119|
Email: terryagabi1@gmail.com.
<p>
<p>Profile:
<p>I’m currently a 3rd year Student Studying Software Development at Carlow Institute of Technology.
I am a reliable, punctual, trustworthy and a hardworking person who can perform multi- task and handle pressure and can work as part of a team. I am customer friendly and able to attend to their needs with infectious enthusiasm. 
I gained a lot from working in my various roles and am eager to carry these skills with me into my future workplace. 
<div>
SKILLS:
    <p>• Teamwork</p>
    <p>• Attention to details</p>
    <p>• Problem solving </p>
    <p>• Installation</p>
<div>
TECHNOLOGY Languages:
    <p>• Java
    <p>• C++
    <p>• HTML
    <p>• CSS

<p>Work History: 
<p>Shop Assistant at Ho’s Cantonese Restaurant Carlow Town.  May 2020 – Aug 2020

<p>Night Porter at Mount Wolseley Hotel & Golf Resort, Tullow, Co. Carlow. Nov 2019 – Feb 2020

<p>Night Porter at Kerry Foods, Coolattin,  Co. Wicklow.  May 2018 – Aug 2018

<p>Shop Assistant at Curry’s PC Carlow Town. March 2016 – April 2016

<p>In these roles I was responsible for a number of duties including the following:
<p>I attended to customers on the till and over the phone queries.
Looking after monthly and quarterly stock inventory. 
I was responsible for ensuring daily takings were lodged with bank.
Training team members on new processes & promotions.
Accepting deliveries & merchandising store floor. 
<p>
<p>Technical Projects:

<div>I was involved in a team project of four student. Our project specification was to create an interactive website for equipment hire.
I undertook the lead development role where I created the front-end homepage & backend database system.  
I used HTML & CSS to create the frontend homepage. To make this interactive I used JavaScript
I developed the backend database system using PHP & SQL Server.
I was responsible for ensuring these components were integrated. I did this by performing a number of tests.
</div>

<p>Education:
<div>2018 – Present:		Student
				Institute of Technology Carlow
				Bachelor of Science (Honor’s) Software Development</div>

<div>2017:				Student
				Carlow Institute of Further Education
				QQI Level 5 in Social media and web design.</div>

<div>2016:				Student
				Carlow Institute of Further Education
				QQI Level 5 in Engineering.</div>
	<p>	

<div>2011:				Student
				Twin Fountain School (in Nigeria)
				Presentation College in 2015
				Completed Leaving Certificate in 2016</div>
				<p>
<div>Certificates:
QQI Level 5 Component Certificate in Engineering

QQI Level 5 Certificate in E-business (Social Media Web Design)</div>	
<p>
<div>Interests and Hobbies:
    <p>• Computers
   <p> • Coding/working on PC hardware
   <p> • Video Games
   <p> • Keen interests in keeping fit & playing team sports</div>

<div>Achievement:
Throughout my time in customer service I have gained a wealth of experience & developed a number skills, I have gained how to Communicate with customer’s regardless the situation, Time Management, Conflict Resolution, Training in many different customer service roles, my managers have noted my enthusiasm to help customers and go the extra mile for them. 
My experience in customer service has made me adaptable to changing roles & environments</div>
<p>
		
<div>Reference Available on Requests</div>
{% endblock %}