{% extends "base.html" %}

{% block the_content %}

	<p>
	<a href = "/" > Home </a>
	<p>
	<a href = "/personalpage" > Personal page</a>
	<p>
	<a href = "/computer" > Computers </a>
	<p>
	<a href = "/cv" > CV </a>
	<p>
	<a href="/visitors"> Visitors </a>
	<p>
This page will be based on my interest during my leisure time.
<div>
During my leisure time, i'm either:
<div>At the Gym.</div>
<div>Learning coding online.</div>
<div>Watching Customised cars being driven.</div>
<p>

<h1>Car:</h1>
<div>In the aspect of cars i'm a really big fan of the mustang gt500 shelby, 
<div>the sound that is produced from the car while being driven is astonishing </div>
<div>The Mustang GT500 is a muscle/sports car with the starting cost of over $72,900 price range,</div>
<div>The car transmission is replaced with a TREMEC 7-SPEED dual-clutch transmission and a 5.2L V8 </div>
<div>The engine of this car produces over 760 horsepower.</div>
<p> Here is a link with the infos about the Mustang GT500 shelby:
<p>
<a href="https://www.caranddriver.com/ford/mustang-shelby-gt500"> MUSTANG GT500</a>
<p>

<h2>Music:</h2>
I have a big interest with music, the flow and remedy in music is astonishing.
<div>music in a way is a form of therapy, the beauty of sounds being mixed together to make a decent</div>
<div>melody which is amusing to the ears is breathe-taking.
</div>
<p>here are a list of artist with a link to acquire more infomation about them:
<p>
<a href="https://en.wikipedia.org/wiki/Lil_Baby">lil baby</a>
<p>
<a href="https://en.wikipedia.org/wiki/Lil_Durk">lil durk</a>
<p>
				
	<hr>
	Copyright (c) Terry Agabi 2021	
{% endblock %}
