{% extends "base.html" %}

{% block the_content %}

	<a href = "/home" > Home </a>
	<p>
	<a href = "/personalpage" > Personal page</a>
	<p>
	<a href = "/computer" > Computers </a>
	<p>

During my leisure time i enjoy listening to music, playing video games, watching tutorial about coding on Youtube and movies.
<p>

<h1>Games:</h1>I enjoy playing video games wth friends cause of the communication between one another while playing and plus it also part of building friendship regarding the distances from one another and theres always abit a laugh when playing together.
<p> Here are some of the game i play with my friends:
<p>
<a href="https://na.leagueoflegends.com/en-us/">League of legends</a>
<p>
<a href="https://www.callofduty.com/warzone">Warzone</a>
<p>
<a href="https://www.bandainamcoent.com/games/dragon-ball-fighterz">DBZ Fighters</a>
<p>

<h2>Music:</h2>I have a big interest with music, the flow and remedy in music is astonishing.
<p>here are a list of artist i listen to:
<p>
<a href="https://en.wikipedia.org/wiki/Lil_Baby">lil baby</a>
<p>
<a href="https://en.wikipedia.org/wiki/6ix9ine">6ix9ine</a>
<p>
				
				
{% endblock %}
