{% extends "base.html" %}

{% block the_content %}

<a href = "/" > Home </a>
<p>
<a href="/cv"> CV </a>
<p> 
<a href="/computer"> Computers </a>
<p>
<a href="/interest"> Interests </a>
<p>
<a href="/visitors"> Visitors </a>

<p>

<div>My full name is Terry Owhoede Agabi, i'm 23 years old, i'm from Nigeria,
<div>I lived in Nigeria for 15 years before coming to ireland in 2015.
<div>i have lived in carlow ever since. My secondary  school was presentation college, i went there for two years. 
<div> After secondary school i attended the PLC for Carlow Institute of Further education in 2016,</div>
<div> then decided to switch my course and did another year of PLC in carlow this time studying Social media and web design,</div>
<div> and i got into IT Carlow afterwards which i'm currently studying Software Development and i'm in my Third year with one more year to graudate.</div> 
<p>
<div>i'm currently working as a bartender in a hotel in Tullow, working part-time for the time being,</div>				
<div>i was working full-time during summer while i was free without assignments "hahah",</div>
<div>for the time being part-time is the best option based on how i have to balance work life with college life.</div>
<p>
<a href="https://www.mountwolseley.ie/?gclid=Cj0KCQjww4OMBhCUARIsAILndv6fgMBpmI5LmWs3wZ4o34tEJojXdxsU2uJOZkmLPvBQghOi9DL4OCoaAnT_EALw_wcB">Mount woseley</a>
</p>
<hr>
		Copyright (c) Terry Agabi 2021
{% endblock %}
