{% extends "base.html" %}

{% block the_content %}

<a href = "/home" > Home </a>
<p>
<a href="/cv"> CV </a>
<p> 
<a href="/computer"> Computers </a>
<p>
<a href="/interest"> Interests </a>

<p>

My name is Terry Owhoede Agabi, i'm 22 years old. I'm Nigerian, i'm from Nigeria i grew up there. I lived in Nigeria for 16 years before coming to ireland in 2015.i have lived in carlow ever since. My secondary  school was presentation college, i went there for two years. 
<div> After secondary school i attended the PLC for Carlow Institute of Further education in 2016 then decided to switch my course and did another year of PLC in carlow this time studying Social media and web design and i got into IT Carlow afterwards which i'm currently studying Software Development and i'm in my Third year with one more year to graudate.</div> 
				
				
</p>
{% endblock %}